body{
  background-color: black;
  

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.main{
  background-color: black !important;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
font-size: large;
}

.col2{
display: flex;
flex-wrap:wrap;
}

.cont{
margin: 5px;
background-color: white;
background-color: black;
border: 2px solid lightblue;
box-shadow:  5px 5px rgb(0, 110, 255);
width: 15rem;
}
h3{
  color: white;
  margin-right: 10px;
 position: relative;
 font-size: larger;
 font-weight: bold;
 left: 10px;
 top: 2px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.but{
  margin: 5px;
  width: 8vh;
  top: 5vh;
  position: relative;
}
.but1{
  width: 8vh;
  position: relative;
  left: 18vh;
  top: -3vh;
}

span{
  font-size: x-large;
  color: blue;
 
}

.model2{
  background-color: rgb(0, 102, 255);
  color: white;
  font-weight: bolder;
  
}

.model{
  background-color: rgb(0, 102, 255);
  color: white;
  font-weight: bold;
}

.editBut{
  background-color: black;
  
}

.fr{
  display: flex !important;
  flex-direction: column !important;
}

